.step-item {
    @apply relative;
}

.step-item:not(:first-child):before {
    @apply content-[""] z-0 absolute h-full w-[0px] bottom-2/4 left-[5%] translate-x-[100%] border-l-[3px] border-secondary-200 border-dashed;
}

.step {
    @apply relative z-10 py-[2%] bg-[#141118];
}



.step-image>img {
    object-fit: cover;
    object-position: center;
    border-radius: 12.43px;
    -o-object-fit: cover;
    image-rendering: pixelated;
}